.turismo__container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.turismo__text{
    position: absolute;
    text-align: center;
}

.turismo__text h6{
    font-size: 3rem;
    color: var(--white);
}

.turismo__text p{
    color: var(--white);
    margin-bottom: 2rem;
}

@media screen and (max-width: 380px){
    .turismo__text{
        width: 90%;
    }
}