@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

:root{
    --gris: #1A1F25;
    --white: #fff;
    --naranja: #F96E37;
    --azuloscuro: #050E15;
    --facebook: #3b5998;
    --instagram: #fcaf45;
    --github: #6cc644;
    --poppins: 'Poppins', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

body,input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.btn{
    width: 18rem;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
    letter-spacing: .1rem;
    background: transparent;
}

.btn-primary{
    border: 2px solid var(--white);
    color: var(--white);
    transition: all ease-in-out 300ms;
}

.btn-secondary{
    border: 2px solid var(--white);
    background: var(--white);
    color: var(--gris);
    transition: all ease-in-out 300ms;
}

.btn-primary:hover,
.btn-secondary:hover{
    border: 2px solid transparent;
    background: var(--naranja);
    color: var(--white);
}